<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity
    Name="cbf5ec59-ac41-4815-bbfd-625da7427cff"
    Publisher="CN=TXP CO Ltd"
    Version="0.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="cbf5ec59-ac41-4815-bbfd-625da7427cff" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>Photographic Memory</DisplayName>
    <PublisherDisplayName>TXP Co Ltd</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="Dummy.exe" EntryPoint="Mbrs.App">
      <uap:VisualElements DisplayName="Photographic Memory" 
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent" Description="TXP Photographic Memory is a graphical interface that helps you manage large photo albums by adding &amp; removing subject tags to .JPG files.">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="dimGray"/>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>